{% extends 'home/landing.html' %}
{% block body %}
<!-- Page info section -->
<section class="page-info-section">
    <div class="container">
        <h2>About Us</h2>
        <div class="site-beradcamb">
            <a href="/">Home</a>
            <span><i class="fa fa-angle-right"></i> About Us</span>
        </div>
    </div>
</section>
<!-- Page info end -->

<!-- About section -->
<section class="about-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-6 about-text">
                <h2>About Us</h2>
                <h5>Welcome to OnStock – Your Trusted Stock Market Companion</h5>
                <p>At OnStock, we are dedicated to providing you with the most reliable, up-to-date, and
                    comprehensive stock market information and tools. Whether you're a seasoned investor or just
                    getting started in the world of stocks, we're here to help you navigate the financial markets
                    with confidence and success.</p>
                <a href="/signup" class="site-btn sb-gradients sbg-line mt-5">Get Started</a>
            </div>
        </div>
        <div class="about-img">
            <img src="/static/landingasset/img/about-img.png" alt="">
        </div>
    </div>
</section>
<!-- Footer section -->
{% endblock body %}