{% extends 'home/landing.html' %}
{% block body %}
    <!-- Hero section -->
    <section class="hero-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 hero-text">
                    <h2>Investing <span>Success</span> <br>Your Journey Starts Here</h2>
                    <h4>Use modern progressive technologies of stock market to earn money</h4>
                </div>
                <div class="col-md-6">
                    <img src="/static/landingasset/img/laptop.png" class="laptop-image" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- Hero section end -->


    <!-- About section -->
    <section class="about-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-6 about-text">
                    <h2>What is Trading</h2>
                    <h5>Profiting from buying and selling assets.</h5>
                    <p>Trading refers to the buying and selling of financial instruments, such as stocks, bonds,
                        commodities, currencies, and derivatives, with the aim of making a profit from the price
                        fluctuations of these assets. Traders engage in trading activities to capitalize on short-term
                        price movements, often taking advantage of both rising and falling prices.
                    </p>
                    <a href="/signup/" class="site-btn sb-gradients sbg-line mt-5">Get Started</a>
                </div>
            </div>
            <div class="about-img">
                <img src="/static/landingasset/img/about-img.png" alt="">
            </div>
        </div>
    </section>
    <!-- About section end -->


    <!-- Features section -->
    <section class="features-section spad gradient-bg">
        <div class="container text-white">
            <div class="section-title text-center">
                <h2>Our Features</h2>
                <p>Navigating Markets, Delivering Insights, Empowering Informed Investment Decisions.</p>
            </div>
            <div class="row">
                <!-- feature -->
                <div class="col-md-6 col-lg-4 feature">
                    <i class="ti-mobile"></i>
                    <div class="feature-content">
                        <h4>Mobile Apps</h4>
                        <p>Real-time quotes, intuitive charts, alerts, portfolio tracking – Your market insights, at
                            your fingertips. </p>
                    </div>
                </div>
                <!-- feature -->
                <div class="col-md-6 col-lg-4 feature">
                    <i class="ti-shield"></i>
                    <div class="feature-content">
                        <h4>Safe & Secure</h4>
                        <p>Protecting your investments with cutting-edge technology. </p>
                    </div>
                </div>
                <!-- feature -->
                <div class="col-md-6 col-lg-4 feature">
                    <i class="ti-wallet"></i>
                    <div class="feature-content">
                        <h4>Wallet</h4>
                        <p>Seamless transactions, instant transfers, comprehensive transaction history – Your assets,
                            managed effortlessly within our wallet. </p>
                    </div>
                </div>
                <!-- feature -->
                <div class="col-md-6 col-lg-4 feature">
                    <i class="ti-headphone-alt"></i>
                    <div class="feature-content">
                        <h4>Experts Support</h4>
                        <p>Dedicated support, responsive assistance, expert guidance – We're here to help you succeed.
                        </p>
                    </div>
                </div>
                <!-- feature -->
                <div class="col-md-6 col-lg-4 feature">
                    <i class="ti-reload"></i>
                    <div class="feature-content">
                        <h4>Instant Exchange</h4>
                        <p>Swift conversions, immediate trades, seamless swaps – Experience instant exchanges with ease.
                        </p>
                    </div>
                </div>
                <!-- feature -->
                <div class="col-md-6 col-lg-4 feature">
                    <i class="ti-panel"></i>
                    <div class="feature-content">
                        <h4>Recuring Buys</h4>
                        <p>Automated investing, consistent growth, effortless accumulation – Recurring buys for your
                            financial future. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Features section end -->


    <!-- Process section -->
    <section class="process-section spad">
        <div class="container">
            <div class="section-title text-center">
                <h2>Get Started With Investing</h2>
                <p>Start learning about trading with interactive tutorials. It’s fun, easy, and takes only a few
                    minutes! </p>
            </div>
            <div class="row">
                <div class="col-md-4 process">
                    <div class="process-step">
                        <figure class="process-icon">
                            <img src="/static/landingasset/img/process-icons/1.png" alt="#">
                        </figure>
                        <h4>Create Your Wallet</h4>
                        <p>Take control of your assets: Create your personal wallet to securely manage and access your
                            digital holdings. </p>
                    </div>
                </div>
                <div class="col-md-4 process">
                    <div class="process-step">
                        <figure class="process-icon">
                            <img src="/static/landingasset/img/process-icons/2.png" alt="#">
                        </figure>
                        <h4>Add Funds</h4>
                        <p>Seamlessly boost your wallet's power: Add funds effortlessly and fuel your financial journey.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 process">
                    <div class="process-step">
                        <figure class="process-icon">
                            <img src="/static/landingasset/img/process-icons/3.png" alt="#">
                        </figure>
                        <h4>Begin Trading</h4>
                        <p>Embark on your trading journey: Seamlessly transition from preparation to action and start
                            trading. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Process section end -->


    <!-- Fact section -->
    <section class="fact-section gradient-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="fact">
                        <h2>100%</h2>
                        <p>Live <br> Tracking</p>
                        <i class="ti-basketball"></i>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="fact">
                        <h2>500</h2>
                        <p>Transactions <br> per day</p>
                        <i class="ti-panel"></i>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="fact">
                        <h2>12k</h2>
                        <p>Transactions <br> per month</p>
                        <i class="ti-stats-up"></i>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="fact">
                        <h2>24*7</h2>
                        <p>Customer <br> support</p>
                        <i class="ti-user"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Fact section end -->
{% endblock body %}