{% extends 'landing.html' %}
{% block body %}
<!-- Page info section -->
<section class="page-info-section">
    <div class="container">
        <h2>Privacy Policy</h2>
        <div class="site-beradcamb">
            <a href="/">Home</a>
            <span><i class="fa fa-angle-right"></i> Privacy Policy</span>
        </div>
    </div>
</section>
<!-- Page info end -->


<section>
    <div style="padding: 5%;">
        <p>Thank you for using OnStock. This Refund Policy explains our refund and cancellation policy concerning
            the services offered on our website (referred to as "the website" or "our platform"). By using our
            services, you agree to the terms outlined in this policy.</p>

        <h2>Refund Eligibility</h2>
        <p>OnStock offers various services, some of which may be eligible for refunds. Eligibility for refunds is
            subject to the specific terms and conditions associated with each service. Please review the
            service-specific refund terms provided at the time of purchase or subscription for detailed information.
        </p>

        <h2>Cancellation and Termination</h2>
        <p>You may cancel your subscription or service at any time by following the cancellation instructions
            provided within your account settings or by contacting our customer support. Cancellation requests are
            typically processed within [Insert Processing Time] business days.</p>

        <h2>No Refund Policy</h2>
        <p>Please note that certain services offered by OnStock may not be eligible for refunds. These services are
            clearly marked as non-refundable at the time of purchase. Non-refundable services may include, but are
            not limited to:</p>

        <ul>
            <li>Downloadable digital products or content</li>
            <li>Services with a specified usage period that has already begun</li>
            <li>One-time purchases and transactions</li>
        </ul>

        <br>
        <h2>Contact Us</h2>
        <p>If you have questions or concerns about our refund policy or wish to request a refund for an eligible
            service, please <a href="/contact">contact us</a>. Our customer support team will be happy to assist
            you.</p>

        <p>This Refund Policy is subject to change, and any updates will be posted on this page with a new effective
            date. Please review this policy periodically for any changes.</p>
        </body>
    </div>
</section>
{% endblock body %}