<form name="payment_post" id="payment_post" action="https://api.payu.in/_payment" method="post"><input hidden
        type="text" name="key" value="QQjxu1" /><input hidden type="text" name="amount" value="1000" /><input hidden
        type="text" name="productinfo" value="Onstock Deposit" /><input hidden type="text" name="firstname"
        value="" /><input hidden type="text" name="email" value="atulg@gmail.com" /><input hidden type="text"
        name="phone" value="839374" /><input hidden type="text" name="txnid" value="iyHCOJcFNztOagf" /><input hidden
        type="text" name="surl" value="https://onstock.in/payment/success/" /><input hidden type="text" name="furl"
        value="https://onstock.in/payment/failure/" /><input hidden type="text" name="hash"
        value="9a73c1f019dbf9602cdc60d167aff380225e7034deb29e0380ba991c32247502f963a5c306db58c69c65fda49cf2ce286d6e4a2e07275edad2f1e88a3cca5d66" />
</form>
<script type="text/javascript"> window.onload = function () { document.forms['payment_post'].submit(); }</script>