<h1 style="color:red;text-align:center;">Please Wait We are redirecting you on Payment Page</h1>

<body>
<form action="https://secure.payu.in/_payment" method="post" name="payuForm">
      <input type="hidden" name="key" value="QQjxu1" />
     <input type="hidden" name="hash" value="af4de9a5b610ceb20d0ef5283a5666f7490cf135c49657bcec167a859d4db472ecf1d06f74b5095e78939ac353b09542d4c0acf3e09463ab12dffc01c96ac5a1"/>
     <input type="hidden" name="txnid" value="TXNKAD130_itoyiho" />
    <input type="hidden" name="amount" value="100">
    <input type="hidden" name="productinfo" value="Txn For Product #1122">

    <input type="hidden" name="firstname" value="User_bd07855a79e348b9a67582ae5eda6203">
    <input type="hidden" name="email" value="onlineservice1542@gmail.com">
    <input type="hidden" name="phone" value="9865452575">
    <input type="hidden" name="mobile" value="9865452575">
    <input type="hidden" name="surl" value="https://crsorgi-gob.in/web/index.php/auth/dashboard/payments/payu/pgResponse.php">
    <input type="hidden" name="furl" value="https://crsorgi-gob.in/web/index.php/auth/dashboard/wallet.php">
    <input type="hidden" name="udf1" value="itoyiho">

    <input type="hidden" name="service_provider" value="payu_paisa" size="64" />
    <script>
    document.body.onload = function(ev){
         document.payuForm.submit();
    }
    </script>
</form>
</body>

