{% extends 'dashboard/base.html' %}

{% block body %}
{% load custom_filters %}    
{% if greeting %}
<div class="grid lg:grid-cols-9 gap-4" style="z-index: 1000;">
    <div id="loginPopup" class="fixed z-50 rounded-lg inset-0 flex items-center justify-center"
        style="left: 50%;top: 50%;transform: translate(-50%, -50%);min-width: 350px;">
        <div class="bg-white rounded-lg shadow-lg w-full p-6 border">
            <div class="flex justify-between items-center border-b">
                <div>
                    <label class="text-lg text-black font-semibold mb-2">Important Notice:</label><span
                        id=""></span>
                </div>
                <button class="text-gray-400 hover:text-gray-600"
                    onclick="document.getElementById('loginPopup').classList.add('hidden')">&times;</button>
            </div>
            <div class="text-gray-900 m-4">
                <ul class="list-disc list-inside mt-2">
                    <li class="mb-1"><strong>Risk Disclosure:</strong> Stock trading involves significant risk and can result in substantial financial loss. Please be aware that past performance is not indicative of future results. Ensure you understand the risks involved and consult with a financial advisor if needed.</li>
                    <li class="mb-1"><strong>Regulatory Compliance:</strong> All trading activities on this platform are regulated by the Securities and Exchange Board of India (SEBI) and other relevant regulatory authorities. Ensure you comply with all legal and regulatory requirements.</li>
                    <li class="mb-1"><strong>Personal Responsibility:</strong> By using this app, you acknowledge and accept full responsibility for your trading decisions. This platform does not provide financial advice or recommendations. Please conduct your own research before making any trading decisions.</li>
                  </ul>            
            </div>
            <div class="grid grid-cols-1 gap-2 mt-2">
                    <div class="flex flex-col">
                        <button class="bg-blue-600 text-white px-4 py-2 rounded" type="button"
                            onclick="document.getElementById('loginPopup').classList.add('hidden');location.href='/home'">
                            I Accept</button>
                    </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
<form action="/add_watchlist" method="post" id="watchlist_form">
    {% csrf_token %}
    <input type="hidden" name="tag_input" id="name_input">
    <input type="hidden" name="data" id="data_input">
</form>

<div class="relative flex flex-col my-2 mx-2 bg-white shadow-sm border border-slate-200 rounded-lg p-2">
    <div class="px-2">
        <div class="flex items-center justify-between w-full mb-2">
            <div class="flex">
                <div>
                    <h3 class="capitalize font-semibold text-gray-900 flex text-1xl">
                        Market Data <i data-feather="chevron-right" class="w-4 h-3 mx-3 font-semibold relative top-1"></i>
                    </h3>
                </div>
            </div>
        </div>
        <div class="overflow-x-auto">
            <ul class="flex flex-nowrap font-medium text-center py-2">
                {% for stock in Index reversed %}
                <li class="mr-2" role="presentation">
                    <span
                        class="block min-w-36 px-3 py-1 text-left bg-white border border-gray-200 rounded-lg">   
                        <h5 class="mb-2 text-1xl font-bold tracking-tight text-gray-900 h-5 overflow-auto">{{stock.symbol}}</h5>
                        <p class="font-normal text-gray-700" id="{{stock.instrument_key}}"></p>
                    </span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


<div class="relative flex flex-col my-2 mx-2 bg-white shadow-sm border border-slate-200 rounded-lg p-2">
    <div class="px-2">
        <div class="flex items-center justify-between w-full mb-2">
            <div class="flex">
                <div>
                    <h3 class="capitalize font-semibold text-gray-900 flex text-1xl">
                        Explore Market <i data-feather="chevron-right" class="w-4 h-3 mx-3 font-semibold relative top-1"></i>
                    </h3>
                </div>
            </div>
        </div>
        <div class="overflow-x-auto">
            <ul class="flex flex-nowrap font-medium text-center py-2">
                {% for x in explore_videos reversed %}
                <iframe width="250" height="150" src="{{x.video_url}}"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" class="mr-2 rounded-xl" allowfullscreen></iframe>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="relative flex flex-col my-2 mx-2 bg-white shadow-sm border border-slate-200 rounded-lg p-2">
    <div class="px-2">
        <div class="flex items-center justify-between w-full mb-2">
            <div class="flex">
                <div>
                    <h3 class="capitalize font-semibold text-gray-900 flex text-1xl">
                        Recommendations <i data-feather="chevron-right" class="w-4 h-3 mx-3 font-semibold relative top-1"></i>
                    </h3>
                </div>
            </div>
        </div>
        <div class="overflow-x-auto">
            <ul class="flex flex-nowrap font-medium text-center py-2">
                {% for stock in recommended reversed %}
                <li class="mr-2" role="presentation">
                    <span
                        class="block min-w-32 px-3 py-1 text-left bg-white border border-gray-200 rounded-lg" id="{{stock.instrument_key}}"
                        data-lot_size="{{stock.lot_size}}" onclick="place_order('{{stock.symbol}}','{{stock.instrument_key}}')">   
                        
                    </span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>



<div class="relative flex flex-col my-2 mx-2 bg-white shadow-sm border border-slate-200 rounded-lg p-2">
    <div class="px-2">
        <ul
            class="flex flex-wrap text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400">
            <li class="me-2">
                <a href="#" aria-current="page"
                    class="inline-block px-4 py-2 text-gray-800 bg-gray-100 rounded-t-lg active dark:bg-gray-800 dark:text-gray-800">News</a>
            </li>
            <li class="me-2">
                <a href="/trends"
                    class="inline-block px-4 py-2 rounded-t-lg hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300">CA</a>
            </li>
        </ul>
        {% for x in news %}
        <a href="/trends">
            <div class="relative flex flex-col my-2 bg-white shadow-sm border border-slate-200 rounded-lg p-2">
                <div class="flex items-center justify-between w-full mb-2">
                    <div class="flex">
                        <div>
                            <h3 class="capitalize font-semibold text-blue-600 flex text-1xl">
                                {{x.title}} <i data-feather="chevron-right"
                                    class="w-4 h-3 text-blue-600 mx-3 font-semibold relative top-1"></i>
                            </h3>
                            <p class="line-clamp-custom">{{x.content}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

<div class="relative flex flex-col my-2 rounded-lg p-2">
    <div class="">
        <div class="flex items-center justify-between w-full">
            <div class="border rounded-2xl border-2 p-2 w-1/2 bg-white border-slate-100 mx-1">
                <div>
                    <div class="mx-3 border rounded-full px-2 py-2 border-orange-500 border-2 w-12">
                        <i data-feather="database" class="text-orange-500 w-7 h-7"></i>
                    </div>
                </div>
                <div class="m-2">
                    <p class="font-semibold test-gray-800 mb-2">Positions</p>
                    <span class="mb-4">
                        See your Positions & Holdings.
                    </span>
                    <p class="mt-10 mb-3">
                        <a href="/portfolio" class="uppercase text-blue-700 font-semibold flex">
                            PORTFOLIO
                            <i data-feather="chevron-right" class="w-4 h-5 ml-2"></i>
                        </a>
                    </p>
                </div>
            </div>
            <div class="border rounded-2xl border-2 p-2 w-1/2 bg-white border-slate-100 mx-2">
                <div>
                    <div class="mx-3 border rounded-full px-2 py-2 border-lime-500 border-2 w-12">
                        <i data-feather="clipboard" class="text-lime-500 w-7 h-7"></i>
                    </div>
                </div>
                <div class="m-2">
                    <p class="font-semibold test-gray-800 mb-2">Orders</p>
                    <span class="mb-4">
                        See all your Buying and Selling history.
                    </span>
                    <p class="mt-10 mb-3">
                        <a href="/orders" class="uppercase text-blue-700 font-semibold flex">
                            ORDERS
                            <i data-feather="chevron-right" class="w-4 h-5 ml-2"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="relative flex flex-col my-2 mx-2 bg-white shadow-sm border border-slate-200 rounded-lg p-2">
    <div class="px-2 py-4">
        <div class="flex items-center justify-between w-full">
            <a href="/trade_charges">
                <div class="flex">
                    <div class="mr-5 border bg-blue-100 rounded-full px-2 py-2 border-1">
                        <i data-feather="percent" class="text-blue-700 w-6 h-6"></i>
                    </div>
                    <div>
                        <p class="font-semibold text-gray-900">
                            Trades and Charges
                        </p>
                        <p class="">All your charges in one place</p>
                    </div>
                </div>
            </a>
            <a href="/trade_charges">
                <div>
                    <i data-feather="chevron-right" class="w-4 h-4 mr-2"></i>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="relative flex flex-col my-2 mx-2 bg-white shadow-sm border border-slate-200 rounded-lg p-2">
    <div class="px-2 py-4">
        <div class="flex items-center justify-between w-full">
            <a href="/transactions">
                <div class="flex">
                    <div class="mr-5 border bg-blue-100 rounded-full px-2 py-2 border-1">
                        <i data-feather="file-text" class="text-blue-700 w-6 h-6"></i>
                    </div>
                    <div>
                        <p class="font-semibold text-gray-900">
                            Fund Transactions
                        </p>
                        <p class="">Add Funds and Withdrawl History</p>
                    </div>
                </div>
            </a>
            <a href="/transactions">
                <div>
                    <i data-feather="chevron-right" class="w-4 h-4 mr-2"></i>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="relative flex flex-col my-2 mx-2 bg-white shadow-sm border border-slate-200 rounded-lg p-2">
    <div class="px-2">
        <div class="flex items-center justify-between w-full mb-2">
            <div class="flex">
                <div>
                    <h3 class="capitalize font-semibold text-gray-900 flex text-1xl">
                        Explore Market <i data-feather="chevron-right" class="w-4 h-3 mx-3 font-semibold relative top-1"></i>
                    </h3>
                </div>
            </div>
        </div>
        <div class="overflow-x-auto">
            <ul class="flex flex-nowrap font-medium text-center py-2">
                {% for stock in explore reversed %}
                <li class="mr-2" role="presentation">
                    <span
                        class="block min-w-32 px-3 py-1 text-left bg-white border border-gray-200 rounded-lg" id="{{stock.instrument_key}}"
                        data-lot_size="{{stock.lot_size}}" onclick="place_order('{{stock.symbol}}','{{stock.instrument_key}}')">   
                        
                    </span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


<div class="grid lg:grid-cols-9 gap-4">
    <div id="modal" class="fixed hidden z-50 rounded-lg inset-0 flex items-center justify-center"
        style="left: 50%;top: 50%;transform: translate(-50%, -50%);min-width: 350px;">
        <div class="bg-white rounded-lg shadow-lg w-full p-6 border">
            <div class="flex justify-between items-center border-b">
                <div>
                    <label class="text-lg text-black font-semibold">Place Order </label><span id="stock_tab"></span>
                </div>
                <button id="closeModal" class="text-gray-400 hover:text-gray-600">&times;</button>
            </div>
            <form action="/place_order" method="POST" id="order_form">
                {% csrf_token %}
                <input type="hidden" name="instrument" id="instrument_input" required>
                <input type="hidden" name="order_type" id="order_type" required>
                <div style="overflow-y: auto;max-height: 500px;">
                    <div class="grid grid-cols-1 gap-2">
                        <div class="grid grid-cols-2 gap-2 mb-2">
                            <div class="flex flex-col">
                                <label for="quantity"
                                    class="block text-sm font-medium text-gray-900 ">Quantity</label>
                                    <div class="relative">
                                        <input type="number" id="quantity" name="quantity" class="block w-full p-2.5 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500" placeholder="0" value="1" oninput="calc()" required />
                                        <span class="text-gray-800 absolute end-2.5 bottom-2.5 font-medium rounded-lg text-xs px-1 z-30" id="order_lot_size"></span>
                                    </div>
                            </div>
                            <div class="flex flex-col">
                                <label for="price"
                                    class="block text-sm font-medium text-gray-900 ">Price</label>
                                <input type="text" id="price" name="price"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    placeholder="0" value="0" oninput="calc()" required />
                            </div>
                        </div>
                    </div>
                    <div class="grid grid-cols-1 gap-2">
                        <div class="grid grid-cols-2 gap-2 mb-2">
                            <div class="flex flex-col">
                                <label for="type" class="block text-sm font-medium text-gray-900 ">Order
                                    Type</label>
                                <select id="type" name="type"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    required>
                                    <option value="Market" selected>Market</option>
                                    <option value="Limit">Limit</option>
                                </select>
                            </div>
                            <div class="flex flex-col">
                                <label for="product"
                                    class="block text-sm font-medium text-gray-900 ">Product</label>
                                <select id="product" name="product_type"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    required>
                                    <option value="Intraday" selected>Intraday</option>
                                    <option value="Carryforward">Carryforward</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="grid grid-cols-1 gap-2">
                        <div class="grid grid-cols-2 gap-2 mb-2">
                            <div class="flex flex-col">
                                <label for=""
                                    class="block text-sm font-medium text-gray-500 ">Margin Required: 
                                    <span id="margin_required"></span>
                                </label>
                            </div>
                            <div class="flex flex-col">
                                <label for=""
                                    class="block text-sm font-medium text-gray-400 ">Available: 
                                    ₹
                                    <span id="margin_available" class="text-gray-500">
                                        {% widthratio request.user.wallet 1 request.user.margin %} ({{ request.user.wallet }}*{{ request.user.margin }})
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="form-check form-check-inline mt-2 mb-2">
                            <label class="form-check-label" style="margin: 2%;" for="smart_order">Smart
                                Order</label>
                            <input class="form-check-input rounded-lg" style="float: inline-end;" type="checkbox"
                                name="smart_order" id="smart_order" value="true"
                                onchange="document.getElementById('smartorder_section').classList.toggle('hidden')">
                        </div>
                    </div>
                    <div class="grid grid-cols-1 gap-2 hidden" id="smartorder_section">
                        <div class="grid grid-cols-2 gap-2 mb-2">
                            <div class="flex flex-col">
                                <label for="stoploss"
                                    class="block text-sm font-medium text-gray-900 ">Stoploss</label>
                                <input type="number" id="stoploss" name="stoploss"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    placeholder="0" value="0">
                            </div>
                            <div class="flex flex-col">
                                <label for="target"
                                    class="block text-sm font-medium text-gray-900 ">Target</label>
                                <input type="text" id="target" name="target"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    placeholder="0" value="0">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid grid-cols-1 gap-2 mt-2">
                    <div class="grid grid-cols-2 gap-2 mb-2">
                        <div class="flex flex-col">
                            <button class="bg-red-600 text-white px-4 py-2 rounded" onclick="execute_order('SELL')"
                                type="button">SELL</button>
                        </div>
                        <div class="flex flex-col">
                            <button class="bg-green-600 text-white px-4 py-2 rounded" onclick="execute_order('BUY')"
                                type="button">BUY</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="hidden fixed z-50 w-full h-16 -translate-x-1/2 bg-white border border-gray-200 rounded-full bottom-1 left-1/2 dark:bg-gray-700 dark:border-gray-600" id="deleteTab">
    <div class="grid h-full max-w-lg grid-cols-5 mx-auto">
        <button data-tooltip-target="tooltip-home" type="button" class="inline-flex flex-col items-center justify-center px-5 rounded-s-full hover:bg-gray-50 dark:hover:bg-gray-800 group">
        </button>
        <div id="tooltip-home" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
        </div>
        <button data-tooltip-target="tooltip-wallet" type="button" class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 dark:hover:bg-gray-800 group">
        </button>
        <div id="tooltip-wallet" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
        </div>
        <div class="flex items-center justify-center">
            <button data-tooltip-target="tooltip-new" type="button" class="inline-flex items-center justify-center w-10 h-10 font-medium bg-red-600 rounded-full hover:bg-red-700 group focus:ring-4 focus:ring-red-300 focus:outline-none m-auto">
                <i data-feather="trash-2" class="text-white"></i>
            </button>
        </div>
        <div id="tooltip-new" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
            <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
        <button data-tooltip-target="tooltip-settings" type="button" class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 dark:hover:bg-gray-800 group">
        </button>
        <div id="tooltip-settings" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
        </div>
        <button data-tooltip-target="tooltip-profile" type="button" class="inline-flex flex-col items-center justify-center px-5 rounded-e-full hover:bg-gray-50 dark:hover:bg-gray-800 group">
        </button>
        <div id="tooltip-profile" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
        </div>
    </div>
</div>

<br><br><br>
<script>
    function place_order(stock, instrument) {
        document.getElementById('stock_tab').innerText = `(${stock})`
        let lot_size = document.getElementById(instrument).getAttribute('data-lot_size');
        if(lot_size != 1){
            document.getElementById('order_lot_size').innerText = `1 Lot = ${lot_size}`
        }
        document.getElementById('instrument_input').value = instrument
        document.getElementById('modal').classList.remove('hidden');
        calc();
    }

    document.getElementById('closeModal').addEventListener('click', function () {
        document.getElementById('modal').classList.add('hidden');
    });

    function execute_order(order_type) {
        document.getElementById("order_type").value = order_type;
        document.getElementById("order_form").submit();
    }
    document.getElementById('type').addEventListener('change', function() {
        const priceInput = document.getElementById('price');
        if (this.value === 'Market') {
            priceInput.readOnly = true;
            priceInput.value = 0;
            priceInput.classList.add('bg-gray-200');
        } else {
            priceInput.readOnly = false;
            priceInput.classList.remove('bg-gray-200');
        }
    });

    // Trigger change event to set initial state
    document.getElementById('type').dispatchEvent(new Event('change'));


    document.getElementById('product').addEventListener('change', function() {
        if (this.value === 'Intraday') {
            document.getElementById('margin_available').innerHTML = {% widthratio request.user.wallet 1 request.user.margin %}  ({{ request.user.wallet }}*{{ request.user.margin }})
        } else {
            document.getElementById('margin_available').innerHTML = {{ request.user.wallet }}
        }
    });

    // Trigger change event to set initial state
    document.getElementById('product').dispatchEvent(new Event('change'));


    let delete_symbols_list = []
    let delete_instruments_list = []

    function calc() {
        let instrument = document.getElementById('instrument_input').value;
        let lot_size = document.getElementById(instrument).getAttribute('data-lot_size');
        let qty = document.getElementById('quantity').value;
        let price = document.getElementById('price').value;
        document.getElementById('margin_required').innerHTML = (qty * price).toFixed(2) * lot_size;
    }

    function openWatchlist(elementId) {
        otherTabsButtons = document.querySelectorAll('.watchlist-tab');
        otherTabsButtons.forEach((element) => {
            element.classList.remove('text-blue-600')
        });

        console.log(document.getElementById(elementId).innerText)
        console.log(typeof document.getElementById(elementId).innerText)
        document.getElementById('name_input').value = document.getElementById(elementId).innerText;
        console.log(document.getElementById('name_input').value)
        
        document.getElementById(elementId).classList.add('text-blue-600')

        const otherTabs = document.querySelectorAll('.watchlist-tab-main');
        otherTabs.forEach((element) => {
            element.classList.add('hidden')
        });
        document.getElementById(`${elementId}-main`).classList.remove('hidden')
    }

    // Select all elements with class 'tab-click'
    const tabClickElements = document.querySelectorAll('.watchlist-tab');

    // Attach event listener to each element
    tabClickElements.forEach((element) => {
        element.addEventListener('click', () => openWatchlist(element.id));
    });

    const socket = new WebSocket('wss://onstock.in/ws/stocks/');

    socket.onopen = function () {
        console.log('Websocket Open');

        // Example instruments list
        const instruments = {{watchlist_symbollist|safe}};

    // Send instruments list to the server
    socket.send(JSON.stringify(instruments));
    document.getElementById('skeleton').classList.add('hidden');
    if (tabClickElements.length > 0) {
        // Click the first element
        tabClickElements[0].click();
    } else {
    }
    };

    socket.onmessage = function (event) {
        const data = JSON.parse(event.data);
        for (let i of data) {
            if (i['data']['symbol']) {
                let change_cls = ""
                if ((i['data']['ltp']-i['data']['last_day_close']) < 0) {
                    change_cls = "text-red-600"
                }
                else {
                    change_cls = "text-green-600"
                }
                if(i['data']['segment'] == 'NSE_INDEX' || i['data']['segment'] == 'BSE_INDEX' || i['data']['segment'] == 'MCX_INDEX') {
                    document.getElementById(i['instrument']).innerHTML = `
                        ${i['data']['ltp']}<br>
                    <span class="h-2 rounded-full ${change_cls} text-left text-sm">
                        ${(i['data']['ltp']-i['data']['last_day_close']).toFixed(1)}
                    </span>
                    `
                }
                else {
                    console.log("i")
                    console.log(i['instrument'])
                    try {
                document.getElementById(i['instrument']).innerHTML = `
                <h5 class="mb-1 text-1xl font-bold tracking-tight text-gray-900 h-5 overflow-auto">${insertSpaces(i['data']['symbol'])}</h5>
                <div class="mx-1">
                    <div class="h-2 mt-1 text-sm text-gray-900 rounded-full mb-2 w-24 mr-2">
                        ${i['data']['ltp']}
                    </div>
                    <div class="h-4 rounded-full mt-4 mb-2 ${change_cls} text-left text-xs w-24 mr-2">
                        ${(i['data']['ltp']-i['data']['last_day_close']).toFixed(1)}
                    </div>
                </div>
            `}
            catch(e) {}
                }
            let instrument_input = document.getElementById('instrument_input').value;
            if(instrument_input == i['instrument']) {
                    if(document.getElementById('type').value == 'Market') {
                        document.getElementById('price').value = i['data']['ltp'];
                        calc()
                    }
                }
            }
        }
        // Handle the real-time data update here
    };

    socket.onclose = function (event) {
        const otherTabs = document.querySelectorAll('.watchlist-tab-main');
        otherTabs.forEach((element) => {
            element.classList.add('hidden')
        });
        document.getElementById('skeleton').classList.remove('hidden')
        setTimeout(function () {
            location.reload();
        }, 5000);

    };

    socket.onerror = function (error) {
        const otherTabs = document.querySelectorAll('.watchlist-tab-main');
        otherTabs.forEach((element) => {
            element.classList.add('hidden')
        });
        document.getElementById('skeleton').classList.remove('hidden')
        setTimeout(function () {
            location.reload();
        }, 5000);

    };


    function delete_stock(symbol, instrument_key) {
        delete_symbols_list.push(symbol)
        delete_instruments_list.push(instrument_key)
        let content = `
        <span class="fixed right-0">
            <form action="/delete_stock" method="POST">
                {% csrf_token %}
                <input type="hidden" name="data" id="delete_stock_input">
                <button type="submit" class="inline-block px-8 py-3 text-white bg-red-600 rounded-lg active">Delete</button>
            </form>
        </span>
        `
        for (let i of delete_symbols_list.reverse()) {
            content = content +
                `
                <li class="me-2 inline-block px-4 py-3 h-10 min-w-32 text-white bg-blue-600 rounded-lg active">
                        ${i}
                </li>
                `
        }
        document.getElementById('delete_watchlist_tab').innerHTML = content
        document.getElementById('delete_stock_input').value = JSON.stringify(delete_instruments_list)
    }
    const stocks = document.querySelectorAll('.stocks');
    const whiteBoxes = document.querySelectorAll('.whiteBox');
    stocks.forEach(stock => {
        stock.addEventListener('dragstart', (e) => {
            e.target.classList.add('hold');
            e.dataTransfer.setData('text/plain', e.target.id);
            document.getElementById('deleteTab').classList.remove('hidden');
            setTimeout(() => {
                e.target.classList.add('hide');
            }, 0);
        });
        stock.addEventListener('dragend', (e) => {
            document.getElementById('deleteTab').classList.add('hidden');
            e.target.classList.remove('hold', 'hide');
        });
    });
    whiteBoxes.forEach(whiteBox => {
        whiteBox.addEventListener('dragover', (e) => {
            e.preventDefault();
        });
        whiteBox.addEventListener('dragenter', (e) => {
        });
        whiteBox.addEventListener('dragleave', (e) => {
        });
        whiteBox.addEventListener('drop', (e) => {
            e.preventDefault();
            const draggedId = e.dataTransfer.getData('text/plain');
            const draggedElement = document.getElementById(draggedId);
            const dropTarget = e.target.closest('.whiteBox');
            if (dropTarget && dropTarget !== draggedElement.parentNode) {
                const dropTargetContent = dropTarget.querySelector('.stocks');
                const draggedParent = draggedElement.parentNode;
                dropTarget.appendChild(draggedElement);
                draggedParent.appendChild(dropTargetContent);
            }
        });
    });


    deleteTab.addEventListener('dragover', (e) => {
            e.preventDefault();
        });

        deleteTab.addEventListener('drop', (e) => {
            e.preventDefault();
            const draggedId = e.dataTransfer.getData('text/plain');
            const draggedElement = document.getElementById(draggedId);
            if (draggedElement) {
                draggedElement.remove();
            }

            // Make the GET request to delete the symbol
            fetch(`/delete_symbol/${draggedId}`)
                .then(response => response.json())
                .then(data => {
                })
                .catch(error => {
                });
        });
</script>
{% endblock body %}