{% extends 'dashboard/base.html' %}
{% block body %}
<div class="flex w-full rounded shadow mt-4">
    <a href="#" aria-current="false"
        class="w-full flex items-center gap-x-2 justify-center font-medium rounded-lg px-5 py-2 border bg-gray-700 text-white border-gray-200 position_tab"
        onclick="positionTab()">
        Positions
    </a>
    <a href="#" aria-current="false"
        class="w-full flex justify-center font-medium rounded-lg px-5 py-2 border bg-white text-gray-800 border-gray-200 position_tab"
        onclick="positionTab()">
        Holdings
    </a>
</div>
<div id="mt-2" class="z-50">
    <div class="main-tab p-4 rounded-lg bg-white " id="{{x}}-tab-main" role="tabpanel"
        aria-labelledby="profile-tab">
        <div role="status"
            class="w-full px-4 py-4 border border-gray-200 divide-y divide-gray-200 rounded ">
            {% if positions %}
            {% if open_positions_available %}
            Open Positions
            {% for stock in positions %}
            {% if stock.quantity != 0 %}
            <div class="flex items-center justify-between" id="{{stock.instrument_key}}"
                ondragstart="delete_stock('{{stock.symbol}}','{{stock.instrument_key}}')"
                onclick="place_order('{{stock.symbol}}','{{stock.instrument_key}}')" data-lot_size="{{stock.lot_size}}">
                <div>
                    <div class="h-2.5 text-gray-950 w-24 mb-2.5 mt-2">{{stock.symbol}}</div>
                    <small class="w-32 h-2 text-xs text-gray-600">{{stock.quantity}} X AVG ₹{% if stock.sell_price == 0 %}{{stock.buy_price}}{% else %}{{stock.sell_price}}{% endif %}</small>
                </div>
                <div>
                    <div class="h-2.5  max-w-12" id="{{stock.instrument_key}}pnl"></div>
                    <div class="h-2.5 text-xs mt-2 ">
                        Ltp: <span class="text-xs"
                        id="{{stock.instrument_key}}ltp" data-buy_price="{{stock.buy_price}}"
                        data-last_traded_quantity="{{stock.last_traded_quantity}}"
                        data-sell_price="{{stock.sell_price}}" data-unrealised_pnl="{{stock.unrealised_pnl}}"
                        data-quantity="{{stock.quantity}}"
                        data-product="{{stock.product}}"></span>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% if close_positions_available %}
            <p class="mt-4">
                Closed Positions
            </p>
            {% for stock in positions %}
            {% if stock.quantity == 0 %}
            <div class="flex items-center justify-between" id="{{stock.instrument_key}}"
            ondragstart="delete_stock('{{stock.symbol}}','{{stock.instrument_key}}')"
            onclick="place_order('{{stock.symbol}}','{{stock.instrument_key}}')" data-lot_size="{{stock.lot_size}}">
            <div>
                    <div class="h-2.5 text-gray-950 w-24 mb-2.5 mt-2">{{stock.symbol}}</div>
                    <small class="w-32 h-2 text-xs text-gray-600">Qty:{{stock.last_traded_quantity}}</small>
                    <br>
                    <small class="w-32 h-2 text-xs text-gray-600">Buy Price ₹{{stock.buy_price}}</small>
                </div>
                <div>
                    <div class="h-2.5 w-24 mb-2.5 mt-2" id="{{stock.instrument_key}}pnl"></div>
                    <small class="w-32 h-2 text-xs text-gray-600">
                        Ltp: <span class="text-xs"
                        id="{{stock.instrument_key}}ltp" data-buy_price="{{stock.buy_price}}"
                        data-last_traded_quantity="{{stock.last_traded_quantity}}"
                        data-sell_price="{{stock.sell_price}}" data-unrealised_pnl="{{stock.unrealised_pnl}}"
                        data-quantity="{{stock.quantity}}"
                        data-product="{{stock.product}}"></span>
                    </small>
                    <br>
                    <small class="w-32 h-2 text-xs text-gray-600">Sell Price ₹{{stock.sell_price}}</small>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% else %}
            <section class="bg-white ">
                <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
                    <div class="mx-auto max-w-screen-sm text-center">
                        <img class="" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/404/404-computer.svg"
                            alt="No orders yet">
    
                        <p class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl">
                            no open positions</p>
                        <p class="text-lg font-light text-gray-500 "></p>
                        <a href="/watchlist"
                            class="inline-flex text-blue-600 bg-primary-600 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-primary-900">Back
                            to watchlist</a>
                    </div>
                </div>
            </section>
            {% endif %}
        </div>
    </div>
    <div class="hidden main-tab p-4 rounded-lg bg-white " id="{{x}}-tab-main" role="tabpanel"
        aria-labelledby="profile-tab">
        <div role="status"
            class="w-full p-4 space-y-4 border border-gray-200 divide-y divide-gray-200 rounded  md:p-6">
            {% if holdings %}
            {% for stock in holdings reversed %}
            <div class="flex items-center justify-between" id="{{stock.instrument_key}}"
                ondragstart="delete_stock('{{stock.symbol}}','{{stock.instrument_key}}')"
                onclick="place_order('{{stock.symbol}}','{{stock.instrument_key}}')" data-lot_size="{{stock.lot_size}}">
                <div>
                    <div class="h-2.5 text-gray-950 w-24 mb-2.5 mt-2">{{stock.symbol}}</div>
                    <small class="w-32 h-2 text-xs text-gray-600">{{stock.quantity}} X AVG ₹{% if stock.sell_price == 0 %}{{stock.buy_price}}{% else %}{{stock.sell_price}}{% endif %}</small>
                </div>
                <div>
                    <div class="h-2.5 w-24 mb-2.5 mt-2" id="{{stock.instrument_key}}pnl"></div>
                    <small class="w-32 h-2 text-xs text-gray-600">
                        Ltp: <span class="text-xs"
                        id="{{stock.instrument_key}}ltp" data-buy_price="{{stock.buy_price}}"
                        data-last_traded_quantity="{{stock.last_traded_quantity}}"
                        data-sell_price="{{stock.sell_price}}" data-unrealised_pnl="{{stock.unrealised_pnl}}"
                        data-quantity="{{stock.quantity}}"
                        data-product="{{stock.product}}"></span>
                    </small>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <section class="bg-white ">
                <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
                    <div class="mx-auto max-w-screen-sm text-center">
                        <img class="" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/404/404-computer.svg"
                            alt="No orders yet">
    
                        <p class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl">
                            no holdings yet</p>
                        <p class="text-lg font-light text-gray-500"></p>
                        <a href="/watchlist"
                            class="inline-flex text-blue-600 bg-primary-600 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Back
                            to watchlist</a>
                    </div>
                </div>
            </section>
            {% endif %}
        </div>
    </div>
</div>


<!-- Modal Structure -->
<div class="grid lg:grid-cols-9 gap-4">
    <div id="modal" class="fixed hidden z-50 inset-0 flex items-center justify-center"
        style="left: 50%;top: 50%;transform: translate(-50%, -50%);min-width: 350px;">
        <div class="bg-white rounded-lg shadow-lg w-full p-6">
            <div class="flex justify-between items-center border-b">
                <div>
                    <label class="text-lg text-black font-semibold">Place Order </label><span id="stock_tab"></span>
                </div>
                <button id="closeModal" class="text-gray-400 hover:text-gray-600">&times;</button>
            </div>
            <form action="/place_order" method="POST" id="order_form">
                {% csrf_token %}
                <input type="hidden" name="instrument" id="instrument_input" required>
                <input type="hidden" name="order_type" id="order_type" required>
                <div style="overflow-y: auto;max-height: 500px;">
                    <div class="grid grid-cols-1 gap-2">
                        <div class="grid grid-cols-2 gap-2 mb-2">
                            <div class="flex flex-col">
                                <label for="quantity"
                                    class="block text-sm font-medium text-gray-900">Quantity</label>
                                    <div class="relative">
                                        <input type="number" id="quantity" name="quantity" class="block w-full p-2.5 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500" placeholder="0" value="1" oninput="calc()" required />
                                        <span class="text-gray-800 absolute end-2.5 bottom-2.5 font-medium rounded-lg text-xs px-1 z-30" id="order_lot_size"></span>
                                    </div>
                            </div>
                            <div class="flex flex-col">
                                <label for="price"
                                    class="block text-sm font-medium text-gray-900">Price</label>
                                <input type="text" id="price" name="price"
                                    class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-gray-200"
                                    placeholder="0" value="0" oninput="calc()" required readonly/>
                            </div>
                        </div>
                    </div>
                    <div class="grid grid-cols-1 gap-2">
                        <div class="grid grid-cols-2 gap-2 mb-2">
                            <div class="flex flex-col">
                                <label for="type" class="block text-sm font-medium text-gray-900">Order
                                    Type</label>
                                <select id="type" name="type"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                                    required>
                                    <option value="Market" selected>Market</option>
                                    <option value="Limit">Limit</option>
                                </select>
                            </div>
                            <div class="flex flex-col">
                                <label for="product"
                                    class="block text-sm font-medium text-gray-900">Product</label>
                                <select id="product" name="product_type"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                                    required>
                                    <option value="Intraday" selected>Intraday</option>
                                    <option value="Carryforward">Carryforward</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="grid grid-cols-1 gap-2">
                        <div class="grid grid-cols-2 gap-2 mb-2">
                            <div class="flex flex-col">
                                <label for=""
                                    class="block text-sm font-medium text-gray-500 ">Margin Required: 
                                    <span id="margin_required"></span>
                                </label>
                            </div>
                            <div class="flex flex-col">
                                <label for=""
                                    class="block text-sm font-medium text-gray-400 ">Available: 
                                    ₹
                                    <span id="margin_available" class="text-gray-500">
                                        {% widthratio request.user.wallet 1 request.user.margin %}
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="form-check form-check-inline mt-2 mb-2">
                            <label class="form-check-label" style="margin: 2%;" for="smart_order">Smart
                                Order</label>
                            <input class="form-check-input rounded-lg" style="float: inline-end;" type="checkbox"
                                name="smart_order" id="smart_order" value="true"
                                onchange="document.getElementById('smartorder_section').classList.toggle('hidden')">
                        </div>
                    </div>
                    <div class="grid grid-cols-1 gap-2 hidden" id="smartorder_section">
                        <div class="grid grid-cols-2 gap-2 mb-2">
                            <div class="flex flex-col">
                                <label for="stoploss"
                                    class="block text-sm font-medium text-gray-900">Stoploss</label>
                                <input type="number" id="stoploss" name="stoploss"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                                    placeholder="0" value="0">
                            </div>
                            <div class="flex flex-col">
                                <label for="target"
                                    class="block text-sm font-medium text-gray-900">Target</label>
                                <input type="text" id="target" name="target"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                                    placeholder="0" value="0">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid grid-cols-1 gap-2 mt-2">
                    <div class="grid grid-cols-2 gap-2 mb-2">
                        <div class="flex flex-col" id="sellButtonDiv">
                            <button class="bg-red-600 text-white px-4 py-2 rounded" onclick="execute_order('SELL')"
                                type="button">SELL</button>
                        </div>
                        <div class="flex flex-col" id="buyButtonDiv">
                            <button class="bg-green-600 text-white px-4 py-2 rounded" onclick="execute_order('BUY')"
                                type="button">BUY</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- JavaScript to handle modal logic -->
<script>
    function place_order(stock, instrument) {
        document.getElementById('stock_tab').innerText = `(${stock})`
        document.getElementById('instrument_input').value = instrument
        document.getElementById('modal').classList.remove('hidden');
        let lot_size = document.getElementById(instrument).getAttribute('data-lot_size');
        if(lot_size != 1){
            document.getElementById('order_lot_size').innerText = `1 Lot = ${lot_size}`
        }
        let quantity = document.getElementById(`${instrument}ltp`).getAttribute('data-quantity')
        if(quantity < 0) {
            document.getElementById('buyButtonDiv').innerHTML = 
            `<button class="bg-green-600 text-white px-4 py-2 rounded" onclick="execute_order('SELLEXIT')"
            type="button">Exit</button>`
            document.getElementById('sellButtonDiv').innerHTML = 
            `<button class="bg-red-600 text-white px-4 py-2 rounded" onclick="execute_order('SELL')"
            type="button">SELL</button>
            `
        }
        if(quantity > 0) {
            document.getElementById('buyButtonDiv').innerHTML = 
            `<button class="bg-green-600 text-white px-4 py-2 rounded" onclick="execute_order('BUY')"
            type="button">BUY</button>`
            document.getElementById('sellButtonDiv').innerHTML = 
            `<button class="bg-red-600 text-white px-4 py-2 rounded" onclick="execute_order('BUYEXIT')"
            type="button">Exit</button>`
        }
        calc();
    }

    function calc() {
        let instrument = document.getElementById('instrument_input').value;
        let lot_size = document.getElementById(instrument).getAttribute('data-lot_size');
        let qty = document.getElementById('quantity').value;
        let price = document.getElementById('price').value;
        document.getElementById('margin_required').innerHTML = qty * price;
    }

    document.getElementById('closeModal').addEventListener('click', function () {
        document.getElementById('modal').classList.add('hidden');
    });


    function execute_order(order_type) {
        let instrument = document.getElementById(`instrument_input`).value;
        let quantity = document.getElementById(`${instrument}ltp`).getAttribute('data-quantity');
        let lot_size = document.getElementById(instrument).getAttribute('data-lot_size');
        let product = document.getElementById(`${instrument}ltp`).getAttribute('data-product');
        if(order_type == "BUYEXIT") {
            order_type = "SELL";
            document.getElementById('quantity').value = quantity / lot_size
            document.getElementById('type').value = 'Market'
            document.getElementById('product').value = product
            document.getElementById('smart_order').value = false
        }
        if(order_type == "SELLEXIT") {
            order_type = "BUY"
            document.getElementById('quantity').value = (quantity * -1) / lot_size
            document.getElementById('type').value = 'Market'
            document.getElementById('product').value = product
            document.getElementById('smart_order').value = false
        }
        document.getElementById("order_type").value = order_type;
        document.getElementById("order_form").submit();
    }

    const socket = new WebSocket('wss://onstock.in/ws/stocks/');

    socket.onopen = function () {
        console.log('WebSocket connection established.');

        // Example instruments list
        const instruments = {{portfolio_symbollist|safe}};

    // Send instruments list to the server
    socket.send(JSON.stringify(instruments));
};

    socket.onmessage = function (event) {
        const data = JSON.parse(event.data);
        console.log('Received real-time data:', data);
        for (let i of data) {
            if (i['data']['symbol']) {
                let buy_price = document.getElementById(i['instrument'] + 'ltp').getAttribute('data-buy_price')
                let sell_price = document.getElementById(i['instrument'] + 'ltp').getAttribute('data-sell_price')
                let quantity = document.getElementById(i['instrument'] + 'ltp').getAttribute('data-quantity')
                let product = document.getElementById(i['instrument'] + 'ltp').getAttribute('data-product')
                let last_traded_quantity = document.getElementById(i['instrument'] + 'ltp').getAttribute('data-last_traded_quantity')
                if (sell_price == 0.0) {
                    pnl = (i['data']['ltp'] - buy_price).toFixed(2) * quantity;
                }
                else if (buy_price == 0.0) {
                    pnl = (i['data']['ltp'] - sell_price).toFixed(2) * quantity;
                }
                else {
                    pnl = (sell_price - buy_price).toFixed(2) * last_traded_quantity;
                    flag = false
                }
                pnl = Math.round(pnl * 100) / 100;
                let cls = "";
                let ltpcls = "";
                if (pnl < 0) {
                    cls = "text-red-600"
                }
                else {
                    cls = "text-green-600"
                }
                document.getElementById(i['instrument'] + 'pnl').innerHTML = `<span class="${cls}">${pnl}</span>`
                document.getElementById(i['instrument'] + 'ltp').innerHTML = `<span class="text-green-600 ">${i['data']['ltp']}</span>`

                let instrument_input = document.getElementById('instrument_input').value;
                if(instrument_input == i['instrument']) {
                    if(document.getElementById('type').value == 'Market') {
                        document.getElementById('price').value = i['data']['ltp'];
                        calc()
                    }
                }
                //         document.getElementById(i['instrument']).innerHTML = `
                //     <div>
                //         <div class="h-2.5 text-gray-950 w-24 mb-2.5 mt-2">${i['data']['symbol']}</div>
                //         <div class="w-32 h-2 text-sm text-gray-950 ">${i['data']['segment']}</div>
                //     </div>
                //     <div>
                //         <div class="h-2.5  w-12">${i['data']['ltp']}</div>
                //         <div class="h-2.5 text-green-600 text-sm mt-2  w-12">${i['data']['ltp']}</div>
                //     </div>
                // `
                // console.log(i['data']['symbol'])
            }
        }
        // Handle the real-time data update here
    };

    socket.onclose = function (event) {
        const otherTabs = document.querySelectorAll('.watchlist-tab-main');
        otherTabs.forEach((element) => {
            element.classList.add('hidden')
        });
        console.log('WebSocket connection closed:', event);
        setTimeout(function () {
            location.reload();
        }, 5000);

    };

    socket.onerror = function (error) {
        const otherTabs = document.querySelectorAll('.watchlist-tab-main');
        otherTabs.forEach((element) => {
            element.classList.add('hidden')
        });
        console.error('WebSocket error:', error);
        setTimeout(function () {
            location.reload();
        }, 5000);

    };

    function positionTab() {
        let tabs = document.querySelectorAll('.position_tab')
        tabs.forEach((element) => {
            element.classList.toggle('text-white');
            element.classList.toggle('text-gray-800');
            element.classList.toggle('bg-gray-700');
            element.classList.toggle('bg-white');
        });
        let maintabs = document.querySelectorAll('.main-tab')
        maintabs.forEach((element) => {
            element.classList.toggle('hidden');
        });
    }
    
    document.getElementById('type').addEventListener('change', function() {
        const priceInput = document.getElementById('price');
        if (this.value === 'Market') {
            priceInput.readOnly = true;
            priceInput.value = 0;
            priceInput.classList.add('bg-gray-200');
        } else {
            priceInput.readOnly = false;
            priceInput.classList.remove('bg-gray-200');
        }
    });

</script>

<br><br><br><br>
{% endblock body %}
