{% extends 'dashboard/base.html' %}
{% block body %}
<div class="mt-2 tabs" id="tradebook">
    <div role="status"
        class="w-full p-4 space-y-4 bg-white border border-gray-200 divide-y divide-gray-200 rounded shadow md:p-6 ">
        {% if odr %}
        {% for stock in odr reversed %}
        {% if stock.status == "completed" %}
        <div class="flex items-center justify-between">
            <div>
                <div class="h-2.5 mt-2 text-black rounded-full w-24 mb-3.5">{{stock.symbol}}</div>
                <div class="h-2 rounded-full">
                    <div class="justify-center my-2 select-none flex">
                        {% if stock.order_type == "BUY" %}
                        <button
                            class="no-underline rounded-sm px-1 bg-green-100 text-green-500 text-xs mr-2">BUY</button>
                        {% else %}
                        <button class="no-underline rounded-sm px-1 bg-red-100 text-red-500 text-xs mr-2">SELL</button>
                        {% endif %}
                        <button
                            class="no-underline rounded-sm px-1 bg-gray-100 text-gray-500 text-xs mr-2">{{stock.product|upper}}</button>
                        <button
                            class="no-underline rounded-sm px-1 bg-gray-100 text-gray-500 text-xs mr-2">{{stock.segment}}</button>
                    </div>
                </div>
                <div class="h-2.5 mt-4 text-xs text-gray-600 rounded-full">{{stock.datetime}}</div>
            </div>
            <div>
                <div class="h-2.5 mt-2 text-black rounded-full w-12 mb-3.5">
                    {{stock.charges}}
                </div>
                <div class="h-2 rounded-full">
                    <div class="h-2.5 mt-4 text-xs text-gray-600 rounded-full w-12">{{stock.price}}</div>
                </div>
                <div class="h-2.5 mt-4 text-xs text-gray-600 rounded-full w-12">Qty: {{stock.quantity}}</div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% else %}
        <section class="bg-white dark:bg-gray-900">
            <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
                <div class="mx-auto max-w-screen-sm text-center">
                    <img class="" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/404/404-computer.svg"
                        alt="No orders yet">

                    <p class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl dark:text-white">
                        no trade orders</p>
                    <p class="text-lg font-light text-gray-500 ">place order</p>
                    <a href="/watchlist"
                        class="inline-flex text-blue-600 bg-primary-600 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Back
                        to watchlist</a>
                </div>
            </div>
        </section>
        {% endif %}
    </div>
</div>
{% endblock body %}