{% extends 'dashboard/base.html' %}
{% block body %}
<div class="grid lg:grid-cols-9 gap-4" style="z-index: 1000;">
    <div id="addFundsPopup" class="fixed hidden z-50 rounded-lg inset-0 flex items-center justify-center"
        style="left: 50%;top: 50%;transform: translate(-50%, -50%);min-width: 350px;">
        <div class="bg-white rounded-lg shadow-lg w-full p-6 border">
            <form action="/add-funds" method="post">
                {% csrf_token %}
                <div class="flex justify-between items-center border-b">
                    <div>
                        <label class="text-lg text-black font-semibold mb-2">Add Funds</label><span
                        id=""></span>
                    </div>
                    <button class="text-gray-400 hover:text-gray-600" type="button"
                    onclick="document.getElementById('addFundsPopup').classList.add('hidden')">&times;</button>
                </div>
                <div class="text-gray-900 my-4">
                    <div class="mb-3 mt-2">
                        <label for="amount" class="inline-block mb-1 text-gray-900">Enter Amount
                            </label>
                        <input type="number" id="amount"
                            class="border border-gray-600 text-gray-900 rounded focus:ring-gray-600 focus:border-gray-600 block w-full p-2 px-3 disabled:opacity-50 disabled:pointer-events-none"
                            name="amount" placeholder="0.0"
                            value="1000"
                            required="" />
                    </div>
                </div>
                <div class="grid grid-cols-1 gap-2 mt-2">
                    <div class="flex flex-col">
                        <button class="bg-gray-800 text-white px-4 py-2 rounded" type="submit">Proceed To Pay</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="mt-2 tabs" id="tradebook">
    <div role="status"
        class="w-full p-4 space-y-4 bg-white border border-gray-200 divide-y divide-gray-200 rounded shadow md:p-6 ">
        <div class="flex items-center justify-between">
            <div>
                <span class="">
                    <span class="text-gray-500 ml-3">Wallet</span>
                    <br>
                    ₹ <span class="text-black text-3xl font-bold">{{request.user.wallet}}</span>
                </span>
            </div>

            <div>
                <button onclick="document.getElementById('addFundsPopup').classList.remove('hidden');"
                 type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mt-4 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Add Funds</button>
            </div>
        </div>
        {% if trans %}
        {% for transaction in trans reversed %}
        <div class="flex items-center justify-between">
            <div>
                <div class="h-2.5 mt-2 text-black rounded-full w-24 mb-3.5">{{transaction.transaction_type}}</div>
                <div class="h-2 rounded-full">
                    <div class="justify-center my-2 select-none flex">
                        <button
                            class="no-underline rounded-sm px-1 bg-gray-100 text-gray-500 text-xs mr-2">{{transaction.datetime}}</button>
                    </div>
                </div>
            </div>
            <div>
                <div class="h-2.5 mt-2 {% if transaction.status == 'COMPLETED' %}text-green-400{% elif transaction.status == 'REQUESTED' %}text-blue-400{% else %}text-red-400{% endif %} rounded-full w-24 mb-3.5">
                    ₹ {{transaction.amount}}
                </div>
                <button
                    class="no-underline rounded-sm px-1 bg-gray-100 text-gray-500 text-xs mr-2">{{transaction.status}}</button>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <section class="bg-white dark:bg-gray-900">
            <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
                <div class="mx-auto max-w-screen-sm text-center">
                    <img class="" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/404/404-computer.svg"
                        alt="No Transactions yet">

                    <p class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl dark:text-white">
                        No Transactions yet</p>
                    <p class="text-lg font-light text-gray-500 ">Add wallet</p>
                    <a href="#"
                        class="inline-flex text-blue-600 bg-primary-600 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Back
                        to profile
                    </a>
                </div>
            </div>
        </section>
        {% endif %}
    </div>
</div>
{% endblock body %}