{% extends 'dashboard/base.html' %}
{% block body %}
{% load custom_filters %}    
<div class="overflow-x-auto mt-2">
    <ul class="flex flex-nowrap font-medium text-center py-2">
        {% for stock in watch_list %}
        {% if stock.tag == "@INDEX" %}
        <li class="" role="presentation">        
            <a href="#"
                class="block min-w-32 px-3 py-2 text-left bg-white border border-gray-200 rounded-lg hover:bg-gray-100">
            
                <h5 class="mb-2 text-1xl font-bold tracking-tight text-gray-900">{{stock.symbol}}</h5>
                <p class="font-normal text-gray-700" id="{{stock.instrument_key}}"></p>
            </a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>

<div class="bg-white border-b border-gray-200 overflow-x-auto mt-1">
    <ul class="flex flex-nowrap -mb-px font-medium text-center" id="default" data-tabs-toggle="#default-content"
        data-tabs-active-classes="text-purple-600 hover:text-purple-600 dark:text-purple-500 dark:hover:text-purple-500 border-purple-600 dark:border-purple-500"
        data-tabs-inactive-classes="dark:border-transparent text-gray-500 hover:text-gray-600 border-gray-100 hover:border-gray-300 dark:hover:text-gray-300"
        role="tablist">
        {% for x in watchlist_list %}
        {% if x == "@INDEX" %}
        {% else %}
        <li class="me-2" role="presentation">
            <button class="watchlist-tab inline-block p-4 border-b-2 rounded-t-lg text-gray-600" id="{{x}}-tab"
                data-tabs-target="#styled-profile" type="button" role="tab" aria-controls="profile"
                aria-selected="false">{{x}}
                </button>
        </li>
        {% endif %}
        {% endfor %}
        <li class="me-2" role="presentation">
            <button class="inline-block p-4 border-b-2 rounded-t-lg text-gray-600" id="{{x}}-tab"
                data-tabs-target="#styled-profile" type="button" role="tab" aria-controls="profile"
                aria-selected="false" onclick="document.getElementById('addTab').classList.remove('hidden')">
                <i data-feather="plus-square" class="text-gray-400"></i>
            </button>
        </li>
    </ul>
</div>

<div class="grid lg:grid-cols-9 gap-4">
    <div id="addTab" class="fixed hidden z-50 rounded-lg inset-0 flex items-center justify-center"
        style="left: 50%;top: 50%;transform: translate(-50%, -50%);min-width: 350px; max-width: 350px;">
        <div class="bg-white rounded-lg shadow-lg w-full p-6 border">
            <div class="flex justify-between items-center border-b mb-2">
                <div>
                    <label class="text-lg text-black font-semibold">Create Watchlist </label></span>
                </div>
            </div>
            <form action="/create_watchlist" method="POST">
                {% csrf_token %}
                <div style="overflow-y: auto;max-height: 500px;">
                    <div class="grid grid-cols-1 gap-2">
                            <div class="flex flex-col">
                                <label for=""
                                    class="block text-sm font-medium text-gray-900  mb-1">Watchlist name</label>
                                <input type="text" name="name"
                                    class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    placeholder="favourite" value="" required />
                            </div>
                    </div>
                </div>
                <div class="grid grid-cols-1 gap-2 mt-2">
                    <div class="grid grid-cols-2 gap-2 mb-2">
                        <div class="flex flex-col">
                            <button class="bg-gray-100 text-black px-4 py-2 rounded" onclick="document.getElementById('addTab').classList.add('hidden')"
                                type="button">Cancel</button>
                        </div>
                        <div class="flex flex-col">
                            <button class="bg-gray-700 text-white px-4 py-2 rounded" onclick=""
                                type="submit">Create</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="">
    {% for x in watchlist_list %}
    <div class="hidden watchlist-tab-main p-2 rounded-lg bg-white" id="{{x}}-tab-main" role="tabpanel"
        aria-labelledby="profile-tab">
        <div role="status"
            class="w-full py-4 space-y-4 divide-y divide-gray-200 rounded">
            {% for stock in watch_list %}
            {% if stock.tag == "@INDEX" %}
            {% else %}    
            {% if stock.tag == x %}
            <div class="whiteBox">
            <div class="stocks flex items-center justify-between" id="{{stock.instrument_key}}" data-lot_size="{{stock.lot_size}}" draggable="true"
                onclick="place_order('{{stock.symbol}}','{{stock.instrument_key}}')">
            </div>
            </div>
            {% endif %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
<!-- Modal Structure -->
<div class="grid lg:grid-cols-9 gap-4">
    <div id="modal" class="fixed hidden z-50 rounded-lg inset-0 flex items-center justify-center"
        style="left: 50%;top: 50%;transform: translate(-50%, -50%);min-width: 350px;">
        <div class="bg-white rounded-lg shadow-lg w-full p-6 border">
            <div class="flex justify-between items-center border-b">
                <div>
                    <label class="text-lg text-black font-semibold">Place Order </label><span id="stock_tab"></span>
                </div>
                <button id="closeModal" class="text-gray-400 hover:text-gray-600">&times;</button>
            </div>
            <form action="/place_order" method="POST" id="order_form">
                {% csrf_token %}
                <input type="hidden" name="instrument" id="instrument_input" required>
                <input type="hidden" name="order_type" id="order_type" required>
                <div style="overflow-y: auto;max-height: 500px;">
                    <div class="grid grid-cols-1 gap-2">
                        <div class="grid grid-cols-2 gap-2 mb-2">
                            <div class="flex flex-col">
                                <label for="quantity"
                                    class="block text-sm font-medium text-gray-900 ">Quantity</label>
                                    <div class="relative">
                                        <input type="number" id="quantity" name="quantity" class="block w-full p-2.5 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500" placeholder="0" value="1" oninput="calc()" required />
                                        <span class="text-gray-800 absolute end-2.5 bottom-2.5 font-medium rounded-lg text-xs px-1 z-30" id="order_lot_size"></span>
                                    </div>
                            </div>
                            <div class="flex flex-col">
                                <label for="price"
                                    class="block text-sm font-medium text-gray-900 ">Price</label>
                                <input type="text" id="price" name="price"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    placeholder="0" value="0" oninput="calc()" required />
                            </div>
                        </div>
                    </div>
                    <div class="grid grid-cols-1 gap-2">
                        <div class="grid grid-cols-2 gap-2 mb-2">
                            <div class="flex flex-col">
                                <label for="type" class="block text-sm font-medium text-gray-900 ">Order
                                    Type</label>
                                <select id="type" name="type"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    required>
                                    <option value="Market" selected>Market</option>
                                    <option value="Limit">Limit</option>
                                </select>
                            </div>
                            <div class="flex flex-col">
                                <label for="product"
                                    class="block text-sm font-medium text-gray-900 ">Product</label>
                                <select id="product" name="product_type"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    required>
                                    <option value="Intraday" selected>Intraday</option>
                                    <option value="Carryforward">Carryforward</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="grid grid-cols-1 gap-2">
                        <div class="grid grid-cols-2 gap-2 mb-2">
                            <div class="flex flex-col">
                                <label for=""
                                    class="block text-sm font-medium text-gray-500 ">Margin Required: 
                                    <span id="margin_required"></span>
                                </label>
                            </div>
                            <div class="flex flex-col">
                                <label for=""
                                    class="block text-sm font-medium text-gray-400 ">Available: 
                                    ₹
                                    <span id="margin_available" class="text-gray-500">
                                        {% widthratio request.user.wallet 1 request.user.margin %} ({{ request.user.wallet }}*{{ request.user.margin }})
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="form-check form-check-inline mt-2 mb-2">
                            <label class="form-check-label" style="margin: 2%;" for="smart_order">Smart
                                Order</label>
                            <input class="form-check-input rounded-lg" style="float: inline-end;" type="checkbox"
                                name="smart_order" id="smart_order" value="true"
                                onchange="document.getElementById('smartorder_section').classList.toggle('hidden')">
                        </div>
                    </div>
                    <div class="grid grid-cols-1 gap-2 hidden" id="smartorder_section">
                        <div class="grid grid-cols-2 gap-2 mb-2">
                            <div class="flex flex-col">
                                <label for="stoploss"
                                    class="block text-sm font-medium text-gray-900 ">Stoploss</label>
                                <input type="number" id="stoploss" name="stoploss"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    placeholder="0" value="0">
                            </div>
                            <div class="flex flex-col">
                                <label for="target"
                                    class="block text-sm font-medium text-gray-900 ">Target</label>
                                <input type="text" id="target" name="target"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    placeholder="0" value="0">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid grid-cols-1 gap-2 mt-2">
                    <div class="grid grid-cols-2 gap-2 mb-2">
                        <div class="flex flex-col">
                            <button class="bg-red-600 text-white px-4 py-2 rounded" onclick="execute_order('SELL')"
                                type="button">SELL</button>
                        </div>
                        <div class="flex flex-col">
                            <button class="bg-green-600 text-white px-4 py-2 rounded" onclick="execute_order('BUY')"
                                type="button">BUY</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="mt-2" id="skeleton">
    <div role="status"
        class="w-full p-4 space-y-4 bg-white border border-gray-200 divide-y divide-gray-200 rounded shadow animate-pulse md:p-6">
        <div class="flex items-center justify-between">
            <div>
                <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-600 w-24 mb-2.5"></div>
                <div class="w-32 h-2 bg-gray-200 rounded-full dark:bg-gray-700"></div>
            </div>
            <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-700 w-12"></div>
        </div>
        <div class="flex items-center justify-between pt-4">
            <div>
                <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-600 w-24 mb-2.5"></div>
                <div class="w-32 h-2 bg-gray-200 rounded-full dark:bg-gray-700"></div>
            </div>
            <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-700 w-12"></div>
        </div>
        <div class="flex items-center justify-between pt-4">
            <div>
                <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-600 w-24 mb-2.5"></div>
                <div class="w-32 h-2 bg-gray-200 rounded-full dark:bg-gray-700"></div>
            </div>
            <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-700 w-12"></div>
        </div>
        <div class="flex items-center justify-between pt-4">
            <div>
                <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-600 w-24 mb-2.5"></div>
                <div class="w-32 h-2 bg-gray-200 rounded-full dark:bg-gray-700"></div>
            </div>
            <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-700 w-12"></div>
        </div>
        <div class="flex items-center justify-between pt-4">
            <div>
                <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-600 w-24 mb-2.5"></div>
                <div class="w-32 h-2 bg-gray-200 rounded-full dark:bg-gray-700"></div>
            </div>
            <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-700 w-12"></div>
        </div>
        <div class="flex items-center justify-between pt-4">
            <div>
                <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-600 w-24 mb-2.5"></div>
                <div class="w-32 h-2 bg-gray-200 rounded-full dark:bg-gray-700"></div>
            </div>
            <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-700 w-12"></div>
        </div>
        <div class="flex items-center justify-between pt-4">
            <div>
                <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-600 w-24 mb-2.5"></div>
                <div class="w-32 h-2 bg-gray-200 rounded-full dark:bg-gray-700"></div>
            </div>
            <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-700 w-12"></div>
        </div>
        <div class="flex items-center justify-between pt-4">
            <div>
                <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-600 w-24 mb-2.5"></div>
                <div class="w-32 h-2 bg-gray-200 rounded-full dark:bg-gray-700"></div>
            </div>
            <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-700 w-12"></div>
        </div>
        <div class="flex items-center justify-between pt-4">
            <div>
                <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-600 w-24 mb-2.5"></div>
                <div class="w-32 h-2 bg-gray-200 rounded-full dark:bg-gray-700"></div>
            </div>
            <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-700 w-12"></div>
        </div>
        <span class="sr-only">Loading...</span>
    </div>
</div>


<div class="hidden fixed z-50 w-full h-16 -translate-x-1/2 bg-white border border-gray-200 rounded-full bottom-1 left-1/2 dark:bg-gray-700 dark:border-gray-600" id="deleteTab">
    <div class="grid h-full max-w-lg grid-cols-5 mx-auto">
        <button data-tooltip-target="tooltip-home" type="button" class="inline-flex flex-col items-center justify-center px-5 rounded-s-full hover:bg-gray-50 dark:hover:bg-gray-800 group">
        </button>
        <div id="tooltip-home" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
        </div>
        <button data-tooltip-target="tooltip-wallet" type="button" class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 dark:hover:bg-gray-800 group">
        </button>
        <div id="tooltip-wallet" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
        </div>
        <div class="flex items-center justify-center">
            <button data-tooltip-target="tooltip-new" type="button" class="inline-flex items-center justify-center w-10 h-10 font-medium bg-red-600 rounded-full hover:bg-red-700 group focus:ring-4 focus:ring-red-300 focus:outline-none m-auto">
                <i data-feather="trash-2" class="text-white"></i>
            </button>
        </div>
        <div id="tooltip-new" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
            <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
        <button data-tooltip-target="tooltip-settings" type="button" class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 dark:hover:bg-gray-800 group">
        </button>
        <div id="tooltip-settings" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
        </div>
        <button data-tooltip-target="tooltip-profile" type="button" class="inline-flex flex-col items-center justify-center px-5 rounded-e-full hover:bg-gray-50 dark:hover:bg-gray-800 group">
        </button>
        <div id="tooltip-profile" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
        </div>
    </div>
</div>


<script>
    function place_order(stock, instrument) {
        document.getElementById('stock_tab').innerText = `(${stock})`
        let lot_size = document.getElementById(instrument).getAttribute('data-lot_size');
        if(lot_size != 1){
            document.getElementById('order_lot_size').innerText = `1 Lot = ${lot_size}`
        }
        document.getElementById('instrument_input').value = instrument
        document.getElementById('modal').classList.remove('hidden');
        calc();
    }

    document.getElementById('closeModal').addEventListener('click', function () {
        document.getElementById('modal').classList.add('hidden');
    });

    function execute_order(order_type) {
        document.getElementById("order_type").value = order_type;
        document.getElementById("order_form").submit();
    }
    document.getElementById('type').addEventListener('change', function() {
        const priceInput = document.getElementById('price');
        if (this.value === 'Market') {
            priceInput.readOnly = true;
            priceInput.value = 0;
            priceInput.classList.add('bg-gray-200');
        } else {
            priceInput.readOnly = false;
            priceInput.classList.remove('bg-gray-200');
        }
    });

    // Trigger change event to set initial state
    document.getElementById('type').dispatchEvent(new Event('change'));


    document.getElementById('product').addEventListener('change', function() {
        if (this.value === 'Intraday') {
            document.getElementById('margin_available').innerHTML = {% widthratio request.user.wallet 1 request.user.margin %}  ({{ request.user.wallet }}*{{ request.user.margin }})
        } else {
            document.getElementById('margin_available').innerHTML = {{ request.user.wallet }}
        }
    });

    // Trigger change event to set initial state
    document.getElementById('product').dispatchEvent(new Event('change'));


    let delete_symbols_list = []
    let delete_instruments_list = []

    function calc() {
        let instrument = document.getElementById('instrument_input').value;
        let lot_size = document.getElementById(instrument).getAttribute('data-lot_size');
        let qty = document.getElementById('quantity').value;
        let price = document.getElementById('price').value;
        document.getElementById('margin_required').innerHTML = (qty * price).toFixed(2) * lot_size;
    }

    function openWatchlist(elementId) {
        otherTabsButtons = document.querySelectorAll('.watchlist-tab');
        otherTabsButtons.forEach((element) => {
            element.classList.remove('text-gray-600')
        });

        document.getElementById(elementId).classList.add('text-gray-600')

        const otherTabs = document.querySelectorAll('.watchlist-tab-main');
        otherTabs.forEach((element) => {
            element.classList.add('hidden')
        });
        document.getElementById(`${elementId}-main`).classList.remove('hidden')
    }

    // Select all elements with class 'tab-click'
    const tabClickElements = document.querySelectorAll('.watchlist-tab');

    // Attach event listener to each element
    tabClickElements.forEach((element) => {
        element.addEventListener('click', () => openWatchlist(element.id));
    });

    function insertSpaces(text) {
    // Insert space before digits
    let textWithSpaces = text.replace(/(\D)(\d)/g, '$1 $2');
    // Insert space after digits
    textWithSpaces = textWithSpaces.replace(/(\d)(\D)/g, '$1 $2');
    // Insert space between letters if they change from uppercase to lowercase or vice versa
    textWithSpaces = textWithSpaces.replace(/([a-z])([A-Z])/g, '$1 $2');
    textWithSpaces = textWithSpaces.replace(/([A-Z])([a-z])/g, '$1 $2');
    return textWithSpaces;
}

    const socket = new WebSocket('wss://onstock.in/ws/stocks/');

    socket.onopen = function () {
        console.log('WebSocket connection established.');

        // Example instruments list
        const instruments = {{watchlist_symbollist|safe}};

    // Send instruments list to the server
    socket.send(JSON.stringify(instruments));
    document.getElementById('skeleton').classList.add('hidden');
    if (tabClickElements.length > 0) {
        // Click the first element
        tabClickElements[0].click();
    } else {
        console.error('No elements found with the class name .watchlist-tab');
    }
    };

    socket.onmessage = function (event) {
        const data = JSON.parse(event.data);
        for (let i of data) {
            if (i['data']['symbol']) {
                let change_cls = ""
                if ((i['data']['last_day_close'] - i['data']['ltp']) < 0) {
                    change_cls = "text-red-600"
                }
                else {
                    change_cls = "text-green-600"
                }
                if(i['data']['segment'] == 'NSE_INDEX' || i['data']['segment'] == 'BSE_INDEX' || i['data']['segment'] == 'MCX_INDEX') {
                    console.log(i['data']['segment'])
                    document.getElementById(i['instrument']).innerHTML = `
                        ${i['data']['ltp']}<br>
                    <span class="h-2 rounded-full ${change_cls} text-left text-sm">
                        ${i['data']['ltp']-i['data']['last_day_close']).toFixed(1)}
                    </span>
                    `
                }
                else {
                document.getElementById(i['instrument']).innerHTML = `
                <div>
                    <div class="h-2.5 mt-2 text-black rounded-full w-48 mb-3.5">
                        ${insertSpaces(i['data']['symbol'])}
                    </div>
                    <div class="h-2 rounded-full mb-2 mt-2">
                        <div class="justify-center my-2 select-none">
                            <small class="w-32 h-2 text-xs text-gray-600">${i['data']['name']}</small>                        <button
                            class="no-underline rounded-sm bg-gray-100 text-gray-500 text-xs mr-2">${i['data']['segment']}</button>

                        </div>
                    </div>
                </div>
                <div class="mx-2">
                    <div class="h-2.5 mt-2 text-sm text-black rounded-full mb-2 w-24 mr-2 text-right">
                        ${i['data']['ltp']}
                    </div>
                    <div class="h-2 rounded-full mb-2 ${change_cls} text-left text-xs w-24 mr-2 text-right">
                        ${i['data']['ltp']-i['data']['last_day_close']).toFixed(1)}
                    </div>
                </div>
            `
                }
            let instrument_input = document.getElementById('instrument_input').value;
            if(instrument_input == i['instrument']) {
                    if(document.getElementById('type').value == 'Market') {
                        document.getElementById('price').value = i['data']['ltp'];
                        calc()
                    }
                }
                // console.log(i['data']['symbol'])
            }
        }
        // Handle the real-time data update here
    };

    socket.onclose = function (event) {
        const otherTabs = document.querySelectorAll('.watchlist-tab-main');
        otherTabs.forEach((element) => {
            element.classList.add('hidden')
        });
        document.getElementById('skeleton').classList.remove('hidden')
        console.log('WebSocket connection closed:', event);
        setTimeout(function () {
            location.reload();
        }, 5000);

    };

    socket.onerror = function (error) {
        const otherTabs = document.querySelectorAll('.watchlist-tab-main');
        otherTabs.forEach((element) => {
            element.classList.add('hidden')
        });
        document.getElementById('skeleton').classList.remove('hidden')
        console.error('WebSocket error:', error);
        setTimeout(function () {
            location.reload();
        }, 5000);

    };


    function delete_stock(symbol, instrument_key) {
        delete_symbols_list.push(symbol)
        delete_instruments_list.push(instrument_key)
        let content = `
        <span class="fixed right-0">
            <form action="/delete_stock" method="POST">
                {% csrf_token %}
                <input type="hidden" name="data" id="delete_stock_input">
                <button type="submit" class="inline-block px-8 py-3 text-white bg-red-600 rounded-lg active">Delete</button>
            </form>
        </span>
        `
        for (let i of delete_symbols_list.reverse()) {
            content = content +
                `
                <li class="me-2 inline-block px-4 py-3 h-10 min-w-32 text-white bg-blue-600 rounded-lg active">
                        ${i}
                </li>
                `
            console.log(i);
        }
        console.log(content)
        document.getElementById('delete_watchlist_tab').innerHTML = content
        document.getElementById('delete_stock_input').value = JSON.stringify(delete_instruments_list)
    }
    const stocks = document.querySelectorAll('.stocks');
    const whiteBoxes = document.querySelectorAll('.whiteBox');
    stocks.forEach(stock => {
        stock.addEventListener('dragstart', (e) => {
            console.log('DragStart has been triggered');
            e.target.classList.add('hold');
            e.dataTransfer.setData('text/plain', e.target.id);
            document.getElementById('deleteTab').classList.remove('hidden');
            setTimeout(() => {
                e.target.classList.add('hide');
            }, 0);
        });
        stock.addEventListener('dragend', (e) => {
            console.log('DragEnd has been triggered');
            document.getElementById('deleteTab').classList.add('hidden');
            e.target.classList.remove('hold', 'hide');
        });
    });
    whiteBoxes.forEach(whiteBox => {
        whiteBox.addEventListener('dragover', (e) => {
            e.preventDefault();
            console.log('DragOver has been triggered');
        });
        whiteBox.addEventListener('dragenter', (e) => {
            console.log('DragEnter has been triggered');
        });
        whiteBox.addEventListener('dragleave', (e) => {
            console.log('DragLeave has been triggered');
        });
        whiteBox.addEventListener('drop', (e) => {
            console.log('Drop has been triggered');
            e.preventDefault();
            const draggedId = e.dataTransfer.getData('text/plain');
            const draggedElement = document.getElementById(draggedId);
            const dropTarget = e.target.closest('.whiteBox');
            if (dropTarget && dropTarget !== draggedElement.parentNode) {
                const dropTargetContent = dropTarget.querySelector('.stocks');
                const draggedParent = draggedElement.parentNode;
                dropTarget.appendChild(draggedElement);
                draggedParent.appendChild(dropTargetContent);
            }
        });
    });


    deleteTab.addEventListener('dragover', (e) => {
            e.preventDefault();
            console.log('DragOver on deleteTab');
        });

        deleteTab.addEventListener('drop', (e) => {
            e.preventDefault();
            const draggedId = e.dataTransfer.getData('text/plain');
            const draggedElement = document.getElementById(draggedId);
            console.log('Dragged Element:', draggedElement.id);
            if (draggedElement) {
                draggedElement.remove();
            }

            // Make the GET request to delete the symbol
            fetch(`/delete_symbol/${draggedId}`)
                .then(response => response.json())
                .then(data => {
                    console.log('Delete response:', data);
                })
                .catch(error => {
                    console.error('Error deleting symbol:', error);
                });
        });
</script>
<br><br><br><br>
{% endblock body %}
